.active {
  color: red;
}

#navContainer {
  /* border: 2px solid green; */
  display: flex;
}

nav {
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200vh;
  font-size: 25px;
}

ul {
  /* border: 2px solid red; */
  display: flex;
  gap: 15px;
  color: black;
  list-style: none;
  text-transform: none;
}
